<h3><%= @song[:title] %></h3>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th>Song</th>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @song[:artist] %></td>
      <td><%= @song[:album] %></td>
      <td><%= @song[:title] %></td>
      <td><%= @song[:position] %></td>
    </tr>
  </tbody>

</table>
